APP_PORT=3000
# 后台应用访问地址
FRONTEND_URL=

#### REDIS 配置
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_USERNAME=default
REDIS_PASSWORD=123456
REDIS_DB=2


#### POSTGRES 配置
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=123456
POSTGRES_DATABASE=chatwoot
