APP_PORT=8443
API_PORT=8445

AUTH_TYPE=password
AUTH_PASSWORD=123456
AUTH_HTTP_URL=https://example.com

OUTBOUNDS_TYPE=direct
OUTBOUNDS_SOCKS5_ADDR=127.0.0.1:1080
OUTBOUNDS_SOCKS5_USERNAME=root
OUTBOUNDS_SOCKS5_PASSWORD=123456